[Unit]
Description=netTel daemon

[Service]
Type=forking
PIDFile=/var/run/netTelD.pid
ExecStart=/usr/bin/netTelD.py start
ExecStop=/usr/bin/netTelD.py stop

[Install]
WantedBy=multi-user.target
