[Unit]
Description=netTel daemon

[Service]
Type=forking
PIDFile=/var/run/netTelD.pid
ExecStart=/root/netTelD/netTelD/netTelD.py start
ExecStop=/root/netTelD/netTelD/netTelD.py stop

[Install]
WantedBy=multi-user.target
